<!doctype html>
<html>
<head>
    <title>Distributed Ledger System for Online Settlement Contracts</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> DLSOCS </h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Local Signup</a>
	<a href="/auth/spid" class="btn btn-default btn-lg"><img width="100px" src="spid-idp-posteid.svg" onerror="this.src='spid-idp-posteid.png'; this.onerror=null;"/></a>
    </div>


</div>
</body>
</html>
